@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
    .section-title{
        @apply text-primary_green text-2xl md:text-3xl font-semibold mb-3
    }
    .section-desc{
        @apply text-desc_gray text-base font-poppins font-medium
    }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}